.inputBox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nestedInput {
  width: 84%;
  border: 0;
  gap: 0 1rem;
  padding: 1rem;
  background-color: #fff;
}
